/* This is a CSS-style comment */
/* The pre-defined colour names are from http://www.w3schools.com/cssref/css_colornames.asp */ 
body {
	/* background-color: DarkSalmon;
	color: Navy;
	text-align: justify; */
	padding: 50px 20%;
}

p, blockquote {
	padding-left: 20%;
	padding-right: 20%;	
	line-height: 1.5em;	
	font-size: 125%;
	color: DarkSlateGray;
	font-family: 'Georgia' , serif ;
	text-align: justify;
	font-style: italic;
}
h1 {
	text-transform: uppercase;
}
h1, h2, h3 { 
	 text-align: center;
	color: Plum;
	font-style: italic;	 
}

h2 {
	text-align: right;
	border-bottom: 1px solid LightSlateGray;
}

hr {
	border: LightSlateGray dotted 1px;
	width: 50%;
}


/* strong and em define no particular formatting. They merely indicate that the embedded content should be emphasised. */

b, strong { 
	font-weight: bold; 
	color: Plum;
} /* bold tends to be the default for "strong", but it's good to set this explicitly */

/* 
	The default for em tends to be italics, but it's good to be explicit.
	Our em is going to be both italic and bold.
 */
i, em { 
	font-style: italic; 
	font-weight: bold; 
	color: Plum;
}

i, b, em, strong {
	color: Plum;
}